<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="list-todo.component.css">
</head>

<body>
    <div class="container" *ngIf="deleteSuccessMessage">{{deleteSuccessMessage}}</div>

    <div class="container">
        <div class="header">
            <h1>My Todo List</h1>
            <p>Manage your tasks efficiently</p>
        </div>

        <div class="table-container">
            <table class="todo-table">
                <thead>
                    <tr>
                        <th>Id.</th>
                        <th>Descrirption            </th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Due Date</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos">
                        <td>{{todo.id}}</td>
                        <td>{{todo.description}}</td>
                        <td><span class="status pending">{{todo.done? "completed":"Pending"}}</span></td>
                        <td><span>{{todo.priority}}</span></td>
                        <td>{{todo.targetDate|date|lowercase}}</td>
                        <td><button (click)="updateTodo(todo.id)" class="clickable-item" pointer="pointer" class="btn btn-success">Update</button></td>
                        <td><button (click)="deleteTodo(todo.id)" class="clickable-item" pointer="pointer">Delete</button></td>
                    </tr>
                    <!-- <tr>
                        <td>2</td>
                        <td>Go play Badminton</td>
                        <td><span class="status pending">pending</span></td>
                        <td><span class="priority medium">Medium</span></td>
                        <td>2025-10-13</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Go have a cofee!</td>
                        <td><span class="pending">pending</span></td>
                        <td><span class="priority low">Low</span></td>
                        <td>2025-10-20</td>
                    </tr> -->

                </tbody>
            </table>
        </div>
    </div>
</body>

</html>